/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
}

h1 {
    text-align: center;
}

.div1 {
    width: 95%;
    margin-left: 3%;
    background-color: rgb(255, 255, 255);
    padding:10px 0;
    border-radius: 10px;
    border: 1px solid black;
}

ul li {
    list-style-type: none;
	padding-top:5px;
	right:30px;
	position:relative;
}

ul li a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

.div2 {
    width: 80%;
    margin-left: 8.5%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}
.div2 video{
	width:100%;
}
.div2 audio{
	width:100%;
}
p{
	text-align:left;
}
