/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
}

h1 {
    text-align: center;
}

.div1 {
    width: 80%;
    margin-left: 10%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

.div2 {
    width: 60%;
    margin-left: 20%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}